<html>
  <head>
    <title>Testing issues report</title>
    <style>
      .main-report p { background-color: lightgray; padding: 0.5em; }
      .class-list li { margin: 3px; }
      .class-list li a { font-family: 'Courier New', Courier, monospace; font-weight: bold; margin-right: 1em; }
      .operators li { font-family: 'Courier New', Courier, monospace; font-size: 0.9em; display: inline; margin: 2px 5px;}
      .operators { list-style: none; }
    </style>
  </head>
  <body>
    <div class="main-report">
      <h1>Report</h1>
      <p>Total time: <strong>$duration</strong></p>
      <b>Operators used</b>
      <ul class="operators">
#foreach($op in $operators)
        <li>$op</li>
#end
      </ul>
#if ($total > 0)
      <p>Pseudo and partially-tested methods: <strong>$total</strong></p>
      <h2>Classes</h2>
      <ul class="class-list">
  #foreach($entry in $findings)
        <li><a href="${entry.ClassName}.html">$entry.ClassName</a><span class="issues-report">(Issues: $entry.Issues)</span></li>
  #end
      </ul>
#else
      <p>No testing issue related to extreme mutations was found.</p>
#end
    </div>
  </body>
</html>